@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Azeret Mono", monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 131px;
  background-color: white;
}

nav p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}
nav button {
  /* Frame 2 */

  width: 230px;
  height: 58px;
  left: 1046px;
  top: 38px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;

  opacity: 0.8;
}

.banner {
  width: 100%vw;
  height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  font-family: "Azeret Mono", monospace;
}

.banner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 998px;
  height: 582px;
  gap: 32px;
}
.banner_container h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.banner_container p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Azeret Mono", monospace;
}

.banner_container button {
  width: 208px;
  height: 66px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 24px 21px 24px;

  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;

  background: rgb(13, 19, 33);
}

/* why web Development start*/

.web_dev {
  width: 1140px;
  height: 1393px;
  left: 148px;
  right: 152px;
  top: 857px;
  bottom: 2995px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 97px 80px 97px;
  margin: 0 auto;
  border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}

.web_dev_container {
  width: 946px;
  height: 1233px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px 10px;
}


.web_dev_content{

width: 852px;
height: 113px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

margin: 0px 0px 48px 0px;
gap: 24px;
}
.web_dev_content h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.web_dev_content p{

    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}


.do_coding_1{

width: 946px;
height: 336px;

display: flex;
/* flex-direction: column; */
justify-content: space-between;
align-items: center;
padding: 48px;

margin: 32px 0px;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
/* why web Development end*/


.do_coding_content{

width: 477px;
height: 219px;

display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
padding: 0px;



margin: 0px 10px;
}

.web_dev_heading_2{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.web_dev_para_2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-top: 16px;

}

.web_dev_img{

    /* position: absolute; */
    width: 274.17px;
    height: 240px;
   
}

.web_dev_button{

width: 171px;
height: 47px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;



margin: 32px 0px;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}

.do_coding_2{
width: 946px;
height: 336px;

display: flex;
justify-content: start;
align-items: center;
padding: 48px;

gap: 32px;
border-radius: 16px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}


.do_coding_3{

    width: 946px;
    height: 336px;
    
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    
    margin:  0px;
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    }